<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name="pack_3.ExtentReportManager"/>
	</listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="pack_3.Class_1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
<!-- [RemoteTestNG] detected TestNG version 7.4.0
On Start: Test Execution has started...
On Test Start: Test Started...
On Test Success: Test Passed...
On Test Start: Test Started...
On Test Success: Test Passed...
On Test Start: Test Started...
On Test Success: Test Passed...
On Finish: Test Execution is Finished...

===============================================
Suite
Total tests run: 3, Passes: 3, Failures: 0, Skips: 0
===============================================
-->