<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="packThree.Class_4_All_annotations"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
<!--Right click on file -> Run As -> Run as TestNG-->
<!-- Output
[RemoteTestNG] detected TestNG version 7.4.0
This is BeforeSuite...
This is BeforeTest...
This is BeforeClass...
This is BeforeMethod...
This is Test priority 1...
This is AfterMethod...
This is BeforeMethod...
This is Test priority 2...
This is AfterMethod...
This is AfterClass...
This is AfterTest...
This is AfterSuite...

===============================================
Suite
Total tests run: 2, Passes: 2, Failures: 0, Skips: 0
===============================================

-->